{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Copy Supplier {{ supplier.supplier_name }}</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('copy_task_supplier', supplier_id=supplier.id) }}">
        <!-- wedding id -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="task_id" name="task_id" class="validate" required>
                    <option value="" disabled selected>Choose Wedding Task</option>
                    {% for wedding_name in wedding_tasks %}
                        <optgroup label="{{ wedding_name }}">
                            {% for task in wedding_tasks[wedding_name] %}
                                <option value="{{ task.id }}">{{ task.task_name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
                <label for="task_id">Wedding Task</label>
            </div>
        </div>        
        <!-- task id -->
        <!-- <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="task_id" name="task_id" class="validate" required>
                    <option value="" disabled selected>Choose Task</option>
                    {% for task in tasks %}
                        <option value="{{ task.id }}">{{ task.task_name }}</option>
                    {% endfor %}
                </select>
                <label for="task_id">Task</label>
            </div>
        </div> -->
        <!-- task id -->
        <!-- <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="task_id" name="task_id" class="validate" required>
                    <option value="" disabled>Choose Task</option>
                    {% for task in tasks %}
                        {% if supplier.task_id == task.id %}
                            <option value="{{ task.id }}" selected>{{ task.task_name }}</option>
                        {% else %}
                            <option value="{{ task.id }}">{{ task.task_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="task_id">Task</label>
            </div>
        </div> -->
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Copy <i class="fas fa-edit right"></i>
                </button>
                <button type="button" class="btn-large light-blue darken-1" onclick="window.history.back();">
                    Cancel <i class="fas fa-times right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}