{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Search Weddings</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('search_weddings', weddings=weddings, countries=countries, towns=towns) }}">
        <!-- wedding id -->
        <div class="row">
            <div class="input-field col s12">
                <select id="wedding_id" name="wedding_id" class="validate">
                    <option value="" disabled selected>Choose Wedding</option>
                    {% for wedding in weddings %}
                        <option value="{{ wedding.id }}">{{ wedding.wedding_name }}</option>
                    {% endfor %}
                </select>
                <label for="wedding_id">Wedding</label>
            </div>
        </div>
        <!-- wedding country -->
        <div class="row">
            <div class="input-field col s12">
                <select id="wedding_country" name="wedding_country" class="validate">
                    <option value="" disabled selected>Choose Country</option>
                    {% for country in countries %}
                        <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
                <label for="wedding_country">Country</label>
            </div>
        </div>
        <!-- wedding town -->
        <div class="row">
            <div class="input-field col s12">
                <select id="wedding_town" name="wedding_town" class="validate">
                    <option value="" disabled selected>Choose Town</option>
                    {% for town in towns %}
                        <option value="{{ town }}">{{ town }}</option>
                    {% endfor %}
                </select>
                <label for="wedding_town">Town</label>
            </div>
        </div>
        <!-- submit/cancel buttons -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Search <i class="fas fa-search right"></i>
                </button>
                <button type="button" class="btn-large light-blue darken-1" onclick="window.history.back();">
                    Cancel <i class="fas fa-times right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}